# ==========
# Docker
# ==========
# prefix for container names
PREFIX=
HOST_DATA_PATH=


# ================
# Oanda Listener
# ================
ACCOUNT_ID=
API_TOKEN=
INSTRUMENTS="EUR_USD"


# ================
# Redis
# ================
REDIS_PORT=6379
REDIS_EXT_PORT=6379
REDIS_HOST=redis
HOST_REDIS_PATH=


# ================
# Stream writer
# ================
LANDING_DIR=
WRITER_BATCH_INTERVAL=

# ================
# Compactor-ingestor
# ================
DELETE_AFTER_COMPACTION=true
COMPACTION_INTERVAL_MINS=720
BRONZE_DIR="/data/bronze/ticks"


# ================
# dbt
# ================
# dbt target environment
DBT_TARGET="dev"
