# ==========
# Docker
# ==========
# prefix for container names
PREFIX=
HOST_DATA_PATH=


# ================
# Oanda Listener
# ================
ACCOUNT_ID=
API_TOKEN=
INSTRUMENTS="EUR_USD"


# ================
# Redis
# ================
REDIS_PORT=6379
REDIS_EXT_PORT=6379
REDIS_HOST=redis
HOST_REDIS_PATH=


# ================
# Stream writer
# ================
LANDING_DIR="/data/landing"
WRITER_BATCH_INTERVAL=60
BROKER_NAME=oanda

# ================
# Compactor-ingestor
# ================
DELETE_AFTER_COMPACTION=true
BRONZE_DIR="/data/bronze"

# ================
# Orchestrator / dbt
# ================
DBT_TARGET="dev"
DUCKDB_PATH="/data/catalog.duckdb"
DATA_ROOT="/data"
